html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    font-family: "Arial", sans-serif;
    text-align: center;
}

img {
    height: 300px;
    width: 300px;
    border: 0px;
}

#pics {
    width: 900px;
    height: 900px;
    border: solid 1px black;
    font-size: 0px;
    margin: auto;
}

